{% extends "base.html" %}
{% block title %}42 Coffee Cups Test Assignment list{% endblock %}
{% block content %}
    <section>
        <h2>42 Coffee Cups Test Assignment</h2>
        {% if object %}
        <div class="text_container_l">
        <div class="text_container_r">
        <div class="text_l">
        <div id="Name">{{ object.name }}</div>
        <div id='Last'>{{ object.last_name }}</div>
        <div id='Date'>{{ object.date_of_birth|date:'Y-m-d' }}</div>
        <img id='Photo' src="{% if  object.photo %}{{  object.photo.url }}{% endif%}" /><br>
        </div>
        <div class="text_r">
        <div id='Phone'>{{ object.phone }}</div>
        <div id='Email' >Email: {{ object.email }}</div>
        <div id='Jabber'>Jabber: {{ object.jabber }}</div>
        <div id='Skype'>Skype: {{ object.skype }}</div>
        <span class="multiline">Other contacts:<br><div id='Contacts'>{{ object.other_contacts }}</div></span>
        <span class="multiline">Bio:<br><div id='Bio'>{{ object.bio }}</div></span>
        </div>
        </div>
        </div>
        {% else %}
            <p>No Contact</p>
        {% endif %}
        </section>
    
{% endblock %}
