 {% extends "base.html" %}
{% load staticfiles %}
{% block title %}42 Coffee Cups Test Assignment list{% endblock %}
{% block content %}
<script type="text/javascript" src="{% static "js/notifications.js" %}"></script>
    <section>
    <div class="container">
        <a href="{% url 'home:index' %}"><h2>42 Coffee Cups Test Assignment</h2></a>
        <ul id="notifications">
            {% for notification in notification_list %}
                <li>{{ notification.time }} {{ notification.host }} {{ notification.path }} {{ notification.method }} {{ notification.uri }} {{ notification.status_code }}</li>
            {% empty %}
                <p>No Notifications</p>
            {% endfor %}
        </ul>
        <ul id="testmas">
    </dev>
    </section>
{% endblock %}
